.poster{
  height: 30vh;
  width: 10.3vw;
  border: solid black 3px;
}


.movie-card-title {
  width: 9vw;
  margin: 0;
  color: white;
  margin-left: 5px;
}

.movie-card {
  margin-bottom: -4vh;
  margin-top: 2vh;
  height: 35vh;
  width: 11vw;
}

.poster:hover {
 opacity: 63%;
 border: solid black 4px;
}
